---
import TabBar from "../../components/TabBar.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout title="About">
    <TabBar slot="header-container" transition:persist/>
    <main>
        <h1>About Me</h1>
        <h2>Paul   David</h2>
        <p>
            I am about 19 years old, sometimes i code things like this website, which is made with https://astro.build/
            <br>
            I grew up in Salzburg Austria and always had a thing for technical things. That's why I attended the technical college for 5 years
            and gratuated with a 2.0 average.
            <br>
            Btw the voices are getting louder. I am going insane... 
            <br>
            It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault.
            <br>
            It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault.
            <br>
            It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault.
            <br>
            It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault. It wasn't my fault. 
        </p>

    </main>
</Layout>

