---
import TabBar from "../../components/TabBar.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout title="About">
    
    <TabBar slot="header"/>
    <main slot="body">
        
        <p>
            This is my About Page
        </p>
    </main>
</Layout>

