---
import TabBar from "../../components/TabBar.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout title="About">
    <TabBar slot="header-container" transition:persist/>
    <main>
        <h1>About Me</h1>
        <h2>Paul   David</h2>
        <p>
            I am about 19 years old and like to code things, for example this webpage.
            <br>
            I grew up in Salzburg Austria and always had a thing for technical things. That's why I attended the technical college for 5 years
            and gratuated with a 2.0 average.
            <br>
            Growing up in a big family with my 7 siblings, I learned how to assert myself and also started loving working as a team.
            <br>
            In my free time I like to go biking a lot as well as cook some proper food after, to really get that feeling of accomplishing something.
        </p>

    </main>
</Layout>

