---
import TabBar from "../../components/TabBar.astro";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout title="Projects">
    <TabBar slot="header-container"/>
    <main>
        <p>
            This is my projects page
        </p>
    </main>
</Layout>