---
import TabBar from "../../components/TabBar.astro";
import Layout from "../../layouts/Layout.astro";
import Work from "../../components/Work.astro";
import '../../styles/global.css';
import projectdata from '../../data/raw/dataProjects.json';
---

<Layout title="Projects">
    <TabBar slot="header-container"/>
    <main>
        {
            projectdata.sort((a,b) => {
                if(Number.isNaN(Date.parse(a.date_end))) // if no date_end is set, put first
                    return -1;
                if(Number.isNaN(Date.parse(b.date_end))) // if no date_end is set, put first
                    return 1;
                return Date.parse(b.date_end) - Date.parse(a.date_end) 
            }).map((item,idx) => {
                return <Work 
                    company={item.company} 
                    title={item.title} 
                    date_start={new Date(item.date_start)} 
                    date_end={new Date(item.date_end)}
                    description={item.description}
                    index={idx}
                />
            })
        }
    </main>
</Layout>