:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    --color0 : #ebb672;
    --color1 : #d9af78;
    --color2 : #6c5332;
    --color3 : #3a2408;
    --color4 : #42392e;
}
html {
    font-family: system-ui, sans-serif;
    background-color: var(--color4);
    
}
body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
header {
    width: 100%;
    height: 8vw;
    margin-bottom: 7vh;
}

.header-container {
    width: 100%;
    height: 100%;
}
code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}
main {
    margin: auto; 
    width: 90%;
    height: calc(100% - 8vw - 7vh);     /* minus header size + margin*/
    max-width: calc(100% - 2rem);
    color: var(--color0);
    font-size: 20px;    
}
@media only screen and (max-width: 700px) {
    html {
        height: 100%;
    }
    header {
        height: 20vw;
        margin-bottom: 4vh;
    }
    main {
        height: calc(100% - 20vw - 4vh);
    }
}