---

import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import TabBar from '../components/TabBar.astro';

---

<Layout title="Webpage">
	<div class="navigation">
		<TabBar exclude='Home'/>
	</div>
	<main>
			
	</main>
</Layout>
<style>
	.navigation {
		
		height: 25vw;
		width: 100%;
		display: block;
		display: inline-block;
		float: left;
	}

</style>
<style is:inline>
	header {
		/* height: 0;*/
	}
	.tab-bar {
		margin: auto;
		width: calc(90%);
		left:0;
	}
</style>