---

import Layout from '../layouts/Layout.astro';
import TabBar from '../components/TabBar.astro';
import '../styles/global.css';

---

<Layout title="Welcome to Astro.">
	<TabBar slot="after-header"/>	
	<main>
			
	</main>
</Layout>

<style>
	.tab-bar {
		clear: both;
		float: left;
	}
</style>