---
interface Props {
    title: string;
    href: string;
}
const { title, href } = Astro.props;
---

<div class="tab">
    <a href={href} rel="prefetch-intent">
        <h1>
            {title}
        </h1>
    </a>
</div>
<style>
    .tab {
        flex: 1 0 0; /** stretches tab to full bar */
        height: 8vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .tab > a {
        text-decoration: none;
        display: flex;
            align-items: center;
            justify-content: center;
        width: 100%;
        height: 100%;
        
    }
    .tab > a > h1 {
        color: var(--color1);
        position: relative;
        padding-bottom: 0.5%; /** shift upward to make it look centered */
        font-size: 6cqw;
        transition: 0s;
        transition-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
        
    }
    .tab:is(:hover, :focus-within) {
        border: 1px transparent;
        border-radius: 20px;
        background-position: 0;
        box-shadow: 0.5vw 0.5vw var(--color3);
        /*background-color: var(--color3);*/
    }
    .tab:is(:hover, :focus-within) h1{
        transform: scale(1.05);
    }
</style>